<h2>
  <%= link_to 'Add New', new_post_path, class: 'header-menu' %>
  My Blogs
</h2>
<ul> 
<% @posts.each do |post| %>
  <li id=post_<%= post.id %>>
    <%= link_to post.title, post_path(post) %>
    <%= link_to '[Edit]', edit_post_path(post), class: 'command' %>
    <%= link_to '[x]', post_path(post), method: :delete, remote: true, class: 'command', data: { confirm: 'Sure' } %>
  </li>
<% end %>
</ul>
